body{
	margin: 0;
	padding: 0;
}

header{
	overflow: hidden;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

.logo{
	width: 20%;
	float: left;
	margin-top: 13px;
	font-family: sans-serif;
}

.logo a{
	text-decoration: none;
	color: black;
	font-weight: 900;
	font-size: 20px;
}
.nav{
	width: 80%;
	float: right;
	
}

.nav ul{
	text-align: right;
	
}

.nav ul li{
	list-style-type: none;
	display: inline-block;
}

.nav ul li a{
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	text-transform: uppercase;
	transition:background-color .1s;
	font-family: sans-serif;
	display: block;
}

.nav ul li a:hover{
	background-color: #00A4D7;
	border-radius: 30px;
	color: #fff;
}

.banner{
	background-image: url("../images/bg.png");
	height: 90vh;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 66%;
}

.bannerleft{
	width: 30%;
	float: left;
	padding-top: 100px;
}

.bannerleft h1{
	font-size: 30px;
	font-family: sans-serif;
	text-transform: capitalize;
}

.bannerleft p{
	font-family: serif;
}

button{
	padding: 10px 30px;
	background-color: #00ADD7;
	border-radius: 30px;
	cursor: pointer;
	border: none;
	margin-top: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}